<ion-app>
  <ion-menu contentId="main" menuId="firts" side="start" type="overlay">
    
    <ion-header>
      <ion-toolbar color="dark">
        <ion-icon slot="start" name="menu-outline" color="light" size="large" style="padding-left: 10px;"></ion-icon>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle *ngFor="let m of opciones">
          <ion-item [routerLink]="m.redirecTo" detail="true">
            <ion-icon slot="start" [name]="m.icon"></ion-icon>
            <ion-label>{{m.name}}</ion-label>
          </ion-item>


        </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>


  <!--Activas el slide del menu acoplado-->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
